/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

#inicio {
    text-align: center;
    padding: 2rem;
    background-image: url('fondo-pasta.jpg');
    background-size: cover;
    color: #fff;
}

h1, h2 {
    margin-bottom: 1rem;
}

.recetas-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.recetas-grid article {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 250px;
}

.recetas-grid img {
    width: 100%;
    border-radius: 5px;
}

#contacto {
    padding: 2rem;
    text-align: center;
}

form input, form textarea, form button {
    margin: 0.5rem 0;
    padding: 0.75rem;
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0.5rem auto;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
/*  seccion Categorias */
#categorias {
    padding: 32px 16px;
    background-color: #f9f9f9;
    text-align: center;
}
/* cuadricula para los bloques de categorias */
.categorias-contenedorgrande {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));/*esto es para que se reparta a  medidad las columnas*/
    gap: 32px;
    text-align: center;
}
/* estilo para las etiquetas de categoria */
.categoria {
    background-color: #fff;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
/* estilo de los iconos dentro de las categorias */
.categorias-contenedorgrande .categoria i {
    font-size: 32px;
    color: #ff6347;
    margin-bottom: 8px;
}
/*estilo para el h3 de la categoria*/
.categoria h3 {
    font-size: 16px;
    margin-bottom: 8px;
}
/*estilo para las listas de las categorias*/
.categoria ul {
    list-style: none;
}
/*estilo para los items de las listas de categoria*/
.categoria ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
/*esto es para darle como luz al pasar el clik en las listas de cagtegoria*/
.categoria ul li a:hover {
    color: #ff6600;
}